<style>
@import url('https://fonts.googleapis.com/css?family=Courgette|Poppins&display=swap');
</style>

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html{
 font-size: 10px;
 font-family: 'Poppins', sans-serif;
}
body{
 margin: 0;
 padding: 0;
}
.container{
 width: 100%;
 height: auto;
 display: flex;
 align-items: center;
 justify-content: center;
}
/* hero section */
.hero{
 min-height: 80vh;
 width: 100%;
 padding-top: 50px;
 justify-content: center;
 background-color: rgba(0, 0, 0, 0.995);
 display: flex;
 flex-direction: column-reverse;
 justify-content: center;
 align-items: center;
 <meta name="viewport" content:"width=device-width,initial-scale=1.0"> ;
}
.hero .hero-info{
 width: 100%;
 height: auto;
 text-align: center;
 margin: 0;
 padding: 0;
}
.hero .hero-info .hero-info-heading{
 font-size: 5rem;
 font-family: 'Courgette', cursive;
 font-weight: 500;
 color: whitesmoke;
}
.hero .hero-info .hero-info-subheading{
 font-size: 1.8rem ;
 color: whitesmoke;
 letter-spacing: 0.5rem;
 text-transform: uppercase;
}
.hero .hero-info .hero-info-btn{
 margin-top: 30px;
 margin-bottom:30px ;
 padding: 2rem 5rem;
 font-size: 1.8rem;
 display: inline-block;
 color: white;
 text-transform: uppercase;
 text-decoration: none;
 letter-spacing: 0.6rem;
 background-color: rgba(85, 85,85,0.214);
}
.hero .hero-img{
 height: auto;
 width: 100%;
 margin-bottom: 3rem;
}
.hero .hero-img img{
 height: 100%;
 width: 100%;
}
/* end of hero section */

/* about section */
.about{
 width: auto;
 /*min-width: 50vh;*/
 padding: 10rem 5rem;
 flex-direction: column;
  display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
 background-color: rgba(59, 57, 57, 0.226);
}
.about .about-info{
 text-align: center;
}
.about .about-info .about-heading{
 font-size: 4rem;
 letter-spacing: 0.3rem;
 text-transform: uppercase;
 color: black;
}
.about-heading::first-letter{
 font-size: 7rem;
 font-weight: bolder;
}
.about .about-info .about-info-desc{
 font-size: 1.5rem;
 line-height: 2rem;
 margin-top: 10px;
}
.about .about-info .about-info-btn{
 padding: 1.6rem 2.6rem;
 font-size: 1.6rem;
 display: inline-block;
 color: whitesmoke;
 background-color: rgba(0,0,0,0.548);
 text-decoration: none;
 text-transform: uppercase;
 margin-top: 20px;
 letter-spacing: 0.2rem;
 margin-bottom: 20px;
}
.about .about-img .about-img-wrapper{
 margin-top: 60px;
 height: 100%;
 max-width: 100%;
 position: relative;
 display: inline-block;
}
.about .about-img .about-img-wrapper img{
 height: 100%;
 width: 100%;
 justify-content: center;
 border-radius: 10px;
 border: 1.5px solid;
}
.about .about-img .about-img-wrapper::after{
 position: absolute;
 content: '';
 right: -2.5rem;
 top: 50%;
 transform: translateY(-50%);
 width: 65%;
 height: 120%;
 background-color:  rgba(0,0,0,0.548);
 z-index: -1;
 border: 1px solid rgba(59, 57, 57, 0.226);
}
/*end of about section */

/* services section */
.services{
 display: flex;
 flex-direction: column;
 min-height: 60vh;
 padding: 10rem 5rem;
 justify-content:center;
 align-items: center;
 width: auto;
 min-width: 50vw;
 /* justify-content: center;
 align-items: center; */
}
.services .services-header{
 width: 100%;
 text-align: center;
}
.services .services-header .services-header-heading{
 text-transform: uppercase;
 font-size: 4rem;
 letter-spacing:0.3rem;
 color: black;
}
.services-header-heading::first-letter{
 font-size: 7rem;
 font-weight: bolder;
}
.services .services-header .services-header-desc{
 font-size: 1.5rem;
 line-height: 2rem;
 margin-top: 20px;
}
.services .services-info{
 margin-top: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 flex-direction: column;
}
.services .services-info .service{
 width:100%;
 min-height: 300px;
 position: relative;
 transition: 0.6s ease transform;
 margin: 16px;
}
.services .services-info .service .service-card{
 position: absolute;
 height: 100%;
 width: 100%;
 transform-style: preserve-3d;
 transition: 1.2s ease transform;
 display:block;
}
.services .services-info .service .service-card .service-front,
.services .services-info .service .service-card .service-back{
 position: absolute;
 left: 0px;
 right: 0px;
 height: 100%;
 width: 100%;
 backface-visibility: hidden;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgba(85, 78, 78, 0.219);
 text-align: center;
 margin-top: 10px;
 border-radius: 20px;
}
.services .services-info .service .service-card .service-back{
 transform: rotateY(180deg);
}
.services .services-info .service .service-card .service-front i{
 /* display: flex;
 justify-content: center; */
 margin-top:10rem;
 font-size: 4rem;
 color: black;
}
.services .services-info .service .service-card .service-front .service-front-heading{
 font-size: 2.5rem;
 text-transform: capitalize;
}
.services .services-info .service:hover .service-card{
 transform: rotateY(180deg);
}
.services .services-info .service .service-card .service-back .service-back-heading{
 font-size: 2.3rem;
 margin-top: 10rem;
}
.service-back-desc{
 font-size: 1.5rem;
 font-weight: 500;
 margin-top: 10px;
 text-align: center;
}
.services .services-info .service:nth-child(1) .service-card .service-front{
 background: linear-gradient(rgba(17, 16, 16, 0.342),rgba(7, 7, 7, 0.719)),url(./design.jpeg);
 background-size:cover;
 background-repeat: no-repeat;
 color: whitesmoke;
}

.services .services-info .service:nth-child(1) .service-card .service-front::after{
 content: '';
 position: absolute;
 left: 0;
 top:0;
height: 100%;
width: 100%;
z-index: -1;
background-size: cover
}
.services .services-info .service:nth-child(1) .service-card .service-front i{
 color: whitesmoke;
}
.services .services-info .service:nth-child(2) .service-card .service-front{
 background: linear-gradient(rgba(75, 98, 141, 0.473),rgba(20, 19, 19, 0.685)),url(./fullstack.jpeg);
 background-size: cover;
 color: whitesmoke;
}
.services .services-info .service:nth-child(2) .service-card .service-front::after{
 content: '';
 position: absolute;
 left: 0;
 top:0;
height: 100%;
width: 100%;
z-index: -1;
background-size: cover
}
.services .services-info .service:nth-child(2) .service-card .service-front i{
 color: whitesmoke;
}
/* end of services section */

/* hire section  */
.services .services-info .service:nth-child(3) .service-card .service-front{
 background: linear-gradient(rgba(75, 98, 141, 0.473),rgba(20, 19, 19, 0.685)),url(./webdesign.jpeg);
 background-size: cover;
 color: whitesmoke;
}
.services .services-info .service:nth-child(3) .service-card .service-front::after{
 content: '';
 position: absolute;
 left: 0;
 top:0;
height: 100%;
width: 100%;
z-index: -1;
background-size: cover
}
.services .services-info .service:nth-child(3) .service-card .service-front i{
 color: whitesmoke;
}
.hire{
 min-height: 10vh;
 flex-direction: column;
 width: auto;
 height: auto;
 background-color:rgba(85, 78, 78, 0.219) ;
 padding: 2rem 3rem;
 border-radius: 15px;
}
.hire .hire-heading{
 color: black;
 font-size: 2.2rem;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.hire .hire-btn{
 padding: 1.5rem 3rem;
 display: inline-block;
 background-color: rgba(0, 0, 0, 0.685);
 text-decoration: none;
 color: whitesmoke;
 font-size: 1.6rem;
 text-transform: uppercase;
 letter-spacing: 0.2rem;
 margin-top: 10px;
 border-radius:5px;
 transition: 0.3s ease background-color;
}
.hire .hire-btn:hover{
background-color: black;
}
/*end of hire section  */
/* footer section */
.footer{
 font-family:'poppins';
 min-height: 5vh;
 display: flex;
 justify-content: center;
 width:auto;
 height:auto;
 background-color: black;
 color: whitesmoke;
 text-align: center;
 flex-direction: column;
 padding:5rem;
 margin-top:1.5px;
 font-weight: 400;
 border-radius: 10px;
 align-items: center;
 /* background: linear-gradient(90deg, rgb(10, 10, 10) 0%, rgb(54, 51, 51) 50%, rgb(126, 110, 110) 100%); */
border-radius: 10px;
filter:url(./backlit);
}
.footer .footer-contact{
 padding: 5px;
 align-items: center;
}
.footer .footer-contact .footer-contact-heading{
 font-size: 2.5rem;
 letter-spacing: 2px;
 margin-bottom:50px ;
 font-weight: 400;
 color: whitesmoke;
 letter-spacing: 0.2rem;
 align-items: center;
}
.footer .footer-contact .footer-contact-heading span{
 font-size: 4rem;
 /* background: rgb(146, 146, 146); */
 /* background: linear-gradient(90deg, rgba(10, 10, 10, 0.589) 0%, rgb(58, 57, 57) 50%, rgb(126, 110, 110) 100%); */
 /* border-radius: 10px;  */
 /* border: 1px solid black;  */
 color:whitesmoke;
font-weight: 700;
align-items: center;
}
.footer .footer-contact .footer-contact-info{
font-size: 1.6rem;
margin-top: 10px;
font-weight: 300;
/* background: linear-gradient(90deg, rgb(73, 18, 18) 0%, rgb(58, 57, 57) 50%, rgb(54, 50, 50) 100%);
background-size: 2rem;
background-repeat: no-repeat;
background-size:auto;
border-radius: 25px; */
/* border: 5px solid black; */
color: whitesmoke;
letter-spacing: 0.18rem;
align-items: center;
}
.footer .footer-social-follow .footer-social-icon a{
color: whitesmoke;
margin:0.4rem;
font-size: 3rem;
position: relative;
left: 30px;
letter-spacing: 5rem;
 align-items:center; 
 display: inline-block;
}
/* end of footer section */

/* media query for desktop and tablet */
@media only screen and (min-width:768px){
 .hero{
  height: 100vh;
  flex-direction: row;
  padding-left: 10%;
  align-items: center;
  width:auto;
 }
 .hero .hero-info{
  max-width: 37%;
  text-align: left;
 }
 .hero .hero-info .hero-info-subheading{
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
 }
 .hero .hero-img{
  min-width: 400px;
  max-width: 1000px;
 }
 .about{
  width:auto;
  margin:0 auto;
  flex-direction: row;
 }
 .about .about-info{
  width: 50%;
  text-align: center;
  padding-right:17rem ;
 }
}






/* end of media query for desktop and tablet */






